<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Retractable Banner</title>
	<style>
		*{margin: 0;padding: 0;}
		#content{
			margin: 0 auto;
			width:960px;
			height:1000px;
			background: #ccc;
		}
		#banner{
			width:986px;
			margin:0 auto;
			display: none;
/* 			position: relative;
overflow: hidden; */
		}
		#content img#shot{
			width:100%;
			height:100%;
		}
	</style>

</head>
<body>
	<div id="banner">
		<img id="imgBanner" src="images/retractableBanner.jpg" style="width:986px height:675px" >
	</div>
	<div id="content">
		<img id="shot" src="images/githubScreenShot.png">
	</div>
	<script>
		var obanner =document.getElementById("banner");
		var oimgBanner =document.getElementById("imgBanner");
		var h=0;
		var maxH=oimgBanner.height;
		function bannerDown(){
			obanner.style.height=h+"px";
			obanner.style.display="block";
			if(h<maxH){
				h+=5;
				setTimeout(bannerDown,1);
			}
		}
	setTimeout(bannerDown,3000);
	</script>
</body>
</html>