<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Retractable Banner</title>
	<style>
		div,img,body{margin: 0;padding: 0;}
		#banner{
			width:1350px;
			margin: 0 auto;
			/* margin:0 auto; */
			display: none;
			/*position: relative;
			overflow: hidden; */
			/* overflow: hidden; */
		}
		#content{
			width:1350px;
			height: 900px;
			/* margin: 0 auto; */
			/* background: #ccc; */
		}
		#content img#shot{
			width:100%;
			height:100%;
		}
	</style>

</head>
<body>
	<div id="banner">
		<img id="imgBanner" src="images/retractableBanner.jpg" width="1350" height="800">
	</div>
	<div id="content">
		<img id="shot" src="images/nasaWebsiteScreenShot.jpg">
	</div>
<script>
		var obanner =document.getElementById("banner");
		var oimgBanner =document.getElementById("imgBanner");
		var h=0;
		var step=2;
		var maxH=oimgBanner.height;
		/*		console.log(maxH);*/
		function bannerDown(){
			obanner.style.height=h+"px";
			obanner.style.display="block";
			if(h<maxH){
				h+=step;
				setTimeout(bannerDown,1);
				console.log(h);
			}else{;
				setTimeout(bannerUp,3000);
			}
		}
		function bannerUp(){
			if(h>0){
				h-=step;
				obanner.style.height=h+"px";
				setTimeout(bannerUp,1)
			}
		}
		setTimeout(bannerDown,3000);
	</script>
</body>
</html>